<!DOCTYPE html>
<html>
  <head>
    <title><% if(typeof title != undefined && title) { %><%= title %><% } %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><% if(typeof title != undefined && title) { %><%= title %><% } %></h1>
    <p>Welcome to <% if(typeof title != undefined && title) { %><%= title %><% } %></p>
  </body>
</html>
